# Enforce Unix newlines
* text=lf

# Exclude unused files
# see: https://redd.it/2jzp6k
/.github            export-ignore
/docs               export-ignore
/tests              export-ignore
/.coveralls.yml     export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/phpcs.xml.dist     export-ignore
/phpstan.neon.dist  export-ignore
/phpunit.xml.dist   export-ignore
